body {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.15em;
    background-color: #72a7a8;
}

html {
    --card-width: 250px;
    --main-color: #424265;
}

.userCard {
    width: var(--card-width);
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 30px 100px;
}

.cardImage {
    width: var(--card-width);
    height: 25%;
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
}

.cardImage > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 75px;
    margin: 50px;
}

.cardInfo {
    box-sizing: border-box;
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    padding: 75px 10px 10px 10px;
    color: var(--main-color);
}

.cardInfo p {
    color: black;
    font-size: 0.9em;
}

.cardLinks {
    width: var(--card-width);
    box-sizing: border-box;
    border: 2px solid var(--main-color);
    border-radius: 0 0 10px 10px;
}

.cardLinks > div {
    width: 50%;
    height: 20%;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0;
}

#Twitter + #Github {
    border-left: 2px solid var(--main-color);
}